#table {
    border: 1px solid lightgrey;
    width:22px;
    height:22px;
    float:left;
}

#container {
    width: 384px;
    height: 384px;
    margin: 0px auto;
    border: 1px solid black;
}

#table:hover {
    background-color: black;
}

#active {
    background-color: black;
    border: 1px solid black;
}